.main-section{
    max-width: 100%;
    height: 79%;
    padding: 1% 10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
                    /* left section css styling */

.left-section{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-items: center;
    gap: 6%;
    padding-top: 5%;
    max-width: 50%;
    height: 90%;
}

.main-heading{
    font-size: 70px;
    line-height: 100%;
}

.main-description{
    width: 70%;
    font-size: 16px;
    line-height: 120%;
    color: #A1A1AA;
}

                        /* searchbar */

.search-bar{
    width: 70%;
    height: 8%;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid transparent;
    background: linear-gradient(to right, #6DDCFF, #7F60F9);
    border-radius: 30px;
}

.search{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    border: 2px solid transparent;
    background: black;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 2%;
    padding-right: 1px;
    font-size: 15px;
}

.search input{
    font-size: 11px;
    width: 62%;
    background-color: black;
    color: #A1A1AA;
    border: none;
    outline: none;
}

.search button{
    width: 38%;
    height: 88%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2%;
    font-size: 11px;
    border: 2px solid transparent;
    background: white;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    font-family: IBM Plex Sans;
    font-weight: 500;
    text-transform: uppercase;
}


/* Rating Css Styling */

.review-title{
    font-size: 14px;
    padding-bottom: 2%;
}

.stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    gap: 3%;
}

.rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
}

.review-count{
    font-size: 12px;
}

.review-count span{
     color: #A1A1AA;
}

/* right section css styling */

.right-section{
    padding-top: 5%;
    width: 50%;
    height: 90%;
}

.blur-background{
    width: 100%;
    height: 100%;
    /* border-radius: 30%;
    transform: rotate(30deg);
    background: linear-gradient(#6DDCFF,#7F60F9); */
}

.profiles{
    position: relative;
    /* transform: rotate(-30deg); */
    width: 100%;
    height: 100%;
}

/*   div for creating line between  profiles    */
.rotated-div{
    position: absolute;
    width: 60%;
    height: 20%;
    transform: rotate(20deg);
    background: linear-gradient(#7F60F9,#6DDCFF);
    top: 30%;
    left: 4%;
}

.rotated-inside-div{
    position: absolute;
    width: 96%;
    height: 94%;
    background: black;
    top: 3%;
}


/*     div for creating background blur for right section    */

.rotated-blur-div{
    position: absolute;
    width: 60%;
    height: 50%;
    transform: rotate(-45deg);
    background: linear-gradient(to right,#6DDCFF,#7F60F9);
    filter: blur(105px);
    top: 20%;
    left: 4%;
}


.profile1{
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 75%;
}

.profile2{
    display: inline-block;
    position: absolute;
    top: 28%;
    left: 50%;
    width: 50%;
    height: 75%;
}

.profile-name{
    font-size: 14px;
    width: 80%;
}

.job-role{
    font-size: 13px;
    color: #A1A1AA;
    width: 80%;
}

.profile-background img{
    position: absolute;
    top: -30px;
    width: 100%;
    height: 188px;
    border-radius: 50%;
    /* border: 4px solid rgb(62, 253, 14); */
}


.profile{
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
    /* border: 4px solid rgb(213, 213, 213); */
    padding-top: 16%;
    width: 80%;
    height: 50%;
}

.profile-background{
    position: relative;
    /* border: 4px solid rgb(241, 10, 10); */
    width: 68%;
    background: linear-gradient(to right,#C0E9F7,#47AB5D);
    border-radius: 50%;
    height: 82%;
}

#female-img{
    background: linear-gradient(to right,#FFFA86,#CFE5FF);
}